<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.dao.FirstRequirementMapper">
  <resultMap id="BaseResultMap" type="com.course.model.FirstRequirement">
    <id column="first_requirement_id" jdbcType="INTEGER" property="firstRequirementId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from first_requirement
    where first_requirement_id = #{firstRequirementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.course.model.FirstRequirement">
    insert into first_requirement (first_requirement_id, detail, description
      )
    values (#{firstRequirementId,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.course.model.FirstRequirement">
    update first_requirement
    set detail = #{detail,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where first_requirement_id = #{firstRequirementId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select first_requirement_id, detail, description
    from first_requirement
    where first_requirement_id = #{firstRequirementId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select first_requirement_id, detail, description
    from first_requirement
  </select>
</mapper>