<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.course.dao.MatrixMapper" >
  <resultMap id="BaseResultMap" type="com.course.model.Matrix" >
    <id column="matrix_id" property="matrixId" jdbcType="INTEGER" />
    <result column="major_course_id" property="majorCourseId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="first_requirement_no" property="firstRequirementNo" jdbcType="INTEGER" />
    <result column="second_requirement_no" property="secondRequirementNo" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from matrix
    where matrix_id = #{matrixId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.course.model.Matrix" >
    insert into matrix (matrix_id, major_course_id, `count`, 
      first_requirement_no, second_requirement_no, 
      weight)
    values (#{matrixId,jdbcType=INTEGER}, #{majorCourseId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{firstRequirementNo,jdbcType=INTEGER}, #{secondRequirementNo,jdbcType=INTEGER}, 
      #{weight,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.course.model.Matrix" >
    update matrix
    set major_course_id = #{majorCourseId,jdbcType=INTEGER},
      `count` = #{count,jdbcType=INTEGER},
      first_requirement_no = #{firstRequirementNo,jdbcType=INTEGER},
      second_requirement_no = #{secondRequirementNo,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE}
    where matrix_id = #{matrixId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select matrix_id, major_course_id, `count`, first_requirement_no, second_requirement_no, 
    weight
    from matrix
    where matrix_id = #{matrixId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select matrix_id, major_course_id, `count`, first_requirement_no, second_requirement_no, 
    weight
    from matrix
  </select>

  <select id="selectByMajorCourseId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select matrix_id, major_course_id, `count`, first_requirement_no, second_requirement_no,
    weight
    from matrix
    where major_course_id = #{majorCourseId,jdbcType=INTEGER}
  </select>
</mapper>