<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.course.dao.ModuleBranchScoreMapper" >
  <resultMap id="BaseResultMap" type="com.course.model.ModuleBranchScore" >
    <id column="module_branch_score_id" property="moduleBranchScoreId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="VARCHAR" />
    <result column="module_branch_id" property="moduleBranchId" jdbcType="INTEGER" />
    <result column="point" property="point" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module_branch_score
    where module_branch_score_id = #{moduleBranchScoreId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.course.model.ModuleBranchScore" >
    insert into module_branch_score (module_branch_score_id, stu_no, module_branch_id, 
      point)
    values (#{moduleBranchScoreId,jdbcType=INTEGER}, #{stuNo,jdbcType=VARCHAR}, #{moduleBranchId,jdbcType=INTEGER}, 
      #{point,jdbcType=DECIMAL})
      ON DUPLICATE KEY UPDATE
      module_branch_score_id = VALUES(module_branch_score_id),
      stu_no = VALUES(stu_no),
      module_branch_id = VALUES(module_branch_id),
      point = VALUES(point)
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.course.model.ModuleBranchScore" >
    update module_branch_score
    set stu_no = #{stuNo,jdbcType=VARCHAR},
      module_branch_id = #{moduleBranchId,jdbcType=INTEGER},
      point = #{point,jdbcType=DECIMAL}
    where module_branch_score_id = #{moduleBranchScoreId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select module_branch_score_id, stu_no, module_branch_id, point
    from module_branch_score
    where module_branch_score_id = #{moduleBranchScoreId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select module_branch_score_id, stu_no, module_branch_id, point
    from module_branch_score
  </select>
  <select id="selectByModuleId" resultMap="BaseResultMap">
    select module_branch_score_id, stu_no, module_branch_id, point
    from module_branch_score
    where stu_no = #{stuNo,jdbcType=VARCHAR}
    and module_branch_id in
    (select module_branch_id
    from module_branch
    where module_id = #{moduleId,jdbcType=INTEGER})
  </select>
</mapper>