<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.course.dao.PointScoreMapper" >
  <resultMap id="BaseResultMap" type="com.course.model.PointScore" >
    <id column="point_score_id" property="pointScoreId" jdbcType="INTEGER" />
    <result column="major_course_id" property="majorCourseId" jdbcType="INTEGER" />
    <result column="student_no" property="studentNo" jdbcType="VARCHAR" />
    <result column="second_requirement_id" property="secondRequirementId" jdbcType="INTEGER" />
    <result column="point_score" property="pointScore" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from point_score
    where point_score_id = #{pointScoreId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.course.model.PointScore" >
    insert into point_score (point_score_id, major_course_id, student_no, 
      second_requirement_id, point_score)
    values (#{pointScoreId,jdbcType=INTEGER}, #{majorCourseId,jdbcType=INTEGER}, #{studentNo,jdbcType=VARCHAR}, 
      #{secondRequirementId,jdbcType=INTEGER}, #{pointScore,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.course.model.PointScore" >
    update point_score
    set major_course_id = #{majorCourseId,jdbcType=INTEGER},
      student_no = #{studentNo,jdbcType=VARCHAR},
      second_requirement_id = #{secondRequirementId,jdbcType=INTEGER},
      point_score = #{pointScore,jdbcType=DECIMAL}
    where point_score_id = #{pointScoreId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select point_score_id, major_course_id, student_no, second_requirement_id, point_score
    from point_score
    where point_score_id = #{pointScoreId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select point_score_id, major_course_id, student_no, second_requirement_id, point_score
    from point_score
  </select>
</mapper>